/target
*.json
/test_project
*/target
/python/build
check.sh
*.so
*.swp
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
/python/src/scrapy_rs.egg-info
/python/venv
/python/*.md
**/*.rs.bk

# Python build artifacts
/build/
/dist/
/*.egg-info/
__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib
*.dll
/venv
/scrapy_rs-0*/
